<div class="page-wrapper" tabindex="-1" role="main">
    {% if page.cover %}
        <img src="{{ page.cover }}"
             width="100%"
             height="{{ page.cover_height | default: '100%' }}"
             alt="{{ page.title | escape }}"
             style="object-fit: cover;"
        />
    {% endif %}

    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    {% if page.longtitle %}
                        <h1 id="{{ page.id }}">{{ page.longtitle | escape }}</h1>
                    {% elsif page.title %}
                        <h1 id="{{ page.id }}">{{ page.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                    {% endif %}

                    {{ content }}

                    {% if page.subdocs %}
                        {% if page.lang == "zh-Hant" %}
                        <h4 id="table-of-contents">目錄</h4>
                        <ul>
                            {% for subdoc in page.subdocs %}
                            <li>
                                <p><a href="{{site.baseurl}}{{subdoc.link}}">{{subdoc.title}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <h4 id="table-of-contents">目录</h4>
                        <ul>
                            {% for subdoc in page.subdocs %}
                            <li>
                                <p><a href="{{site.baseurl}}/zh-Hans{{subdoc.link}}">{{subdoc.title}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endif %}
                    <!--
                    {%- if jekyll.environment != 'dev' and site.disqushandler -%}
                        {%- include disqus.html -%}
                    {%- endif -%}
                    -->
                    {% unless page.uncomment %}
                        <hr/>
                        <div id="waline"></div>
                        Pageview:  <span class="waline-pageview-count"/>
                    {% endunless %}
                </section>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>

<!-- introduce mathjax support 
{% include mathjax.html %}
-->

<!-- introduce per-page mermaid support 
{% if page.mermaid %}
    {% include mermaid.html %}
{% endif %}
-->
