{% if page.lang == 'zh-Hant' %}
    <div style="text-align: center; font-size: small; margin-top: 100px;">
        <p style="margin-bottom: 10px;">文章版權歸原作者所有 &copy; {{ 'now' | date: '%Y' }}</p>
        <!--
        <p style="margin-top: 0px;">Website built by 終朝採藍</p>
        -->
    </div>
{% else %}
    <div style="text-align: center; font-size: small; margin-top: 100px;">
        <p style="margin-bottom: 10px;">文章版权归原作者所有 &copy; {{ 'now' | date: '%Y' }}</p>
        <!--
        <p style="margin-top: 0px;">Website built by 終朝採藍</p>
        -->
    </div>
{% endif %}