<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

{%- if page.title -%}
    <title>{{ page.title | escape }} · {{ site.title | escape }}</title>
{%- else -%}
    <title>{{ site.title | escape }}</title>
{%- endif -%}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{site.description}}">

{%- if site.gitbook_version -%}
    <meta name="generator" content="Jekyll (using style of GitBook {{ site.gitbook_version | escape }})">
{%- else -%}
    <meta name="generator" content="Jekyll (using style of GitBook)">
{%- endif -%}

{%- if site.author -%}
    <meta name="author" content="{{ site.author | escape }}">
{%- endif -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<!--
<link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/silver/pace-theme-center-radar.min.css" rel="stylesheet" />
-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/barber-shop.css">

<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/style.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/gitbook-plugin-fontsettings/website.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/gitbook-plugin-search-pro/search.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/gitbook-plugin-back-to-top-button/plugin.css">

<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/rouge/{{ site.syntax_highlighter_style | default: 'colorful' }}.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/custom.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/custom-local.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/assets/waline.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/form.css">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 

<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/gitbook/images/apple-touch-icon-precomposed-152.png">
<link rel="shortcut icon" href="{{site.baseurl}}/{{site.favicon_path}}" type="image/x-icon">

{% if site.extra_css %}
    {%- for extra_css in site.extra_css -%}
        {%- assign starts_with = extra_css | slice: 0,4 -%}
        {% if starts_with == "http" %}
<link rel="stylesheet" href="{{ extra_css }}">
        {%- else -%}
<link rel="stylesheet" href="{{site.baseurl}}/{{ extra_css }}">
        {%- endif -%}
    {%- endfor -%}
{% endif %}

{% if site.extra_header_js %}
    {%- for extra_js in site.extra_header_js -%}
        {%- assign starts_with = extra_js | slice: 0,4  -%}
        {% if starts_with == "http" %}
<script src="{{ extra_js }}"></script>
        {%- else -%}
<script src="{{site.baseurl}}/{{ extra_js }}"></script>
        {%- endif -%}
    {%- endfor -%}
{% endif %}

{%- if site.tracker -%}
    <!-- trackers -->

    {%- if site.tracker.application_insights -%}
        <!-- application insights -->
        {%- include application-insights.html -%}
    {%- endif -%}

{%- endif -%}
{% seo %}
