<h4>同人文</h4>

<table>

{% if page.lang == "zh-Hant" %}
    {% assign filtered_posts = site["article"] | where: "lang", "zh-Hant" %}
    {% assign reversed_posts = filtered_posts | sort "date" %}
        <tr>
            <td>標題</td>
            <td>作者</td>
        </tr>
    {% for post in reversed_posts %}
        {% if post.lang == "zh-Hant" and post.depth == 1 %}
        <tr>
            <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
            <td>{{ post.author}}</td>
        </tr>
        {% endif %}
    {% endfor %}

{% else %}    

    {% assign filtered_posts = site["article_zh-Hans"] | where: "lang", "zh-Hans" %}
    {% assign reversed_posts = filtered_posts | sort "date" %}
        <tr>
            <td>标题</td>
            <td>作者</td>
        </tr>
    {% for post in reversed_posts %}
        {% if post.lang == "zh-Hans" and post.depth == 1 %}
        <tr>
            <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
            <td>{{ post.author}}</td>
        </tr>
        {% endif %}
    {% endfor %}

{% endif %}

</table>

<h4>
    {% if page.lang == "zh-Hant" %}
        圖像/視頻區
    {% else %}
        图像/视频区
    {% endif %}
</h4>

<table>

    {% if page.lang == "zh-Hant" %}
        {% assign filtered_posts = site["comic"] | where: "lang", "zh-Hant" %}
        {% assign reversed_posts = filtered_posts | sort "date" %}
            <tr>
                <td>標題</td>
                <td>畫師</td>
            </tr>
        {% for post in reversed_posts %}
            {% if post.lang == "zh-Hant" and post.depth == 1 %}
            <tr>
                <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                <td>{{ post.author}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    
    {% else %}    
    
        {% assign filtered_posts = site["comic_zh-Hans"] | where: "lang", "zh-Hans" %}
        {% assign reversed_posts = filtered_posts | sort "date" %}
            <tr>
                <td>标题</td>
                <td>画师</td>
            </tr>
        {% for post in reversed_posts %}
            {% if post.lang == "zh-Hans" and post.depth == 1 %}
            <tr>
                <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                <td>{{ post.author}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    
    {% endif %}
    
</table>