:root {
    /* 字体大小 */
    --waline-font-size: 17px;
  
    /* 常规颜色 */
    --waline-white: #fff;
    --waline-light-grey: #999;
    --waline-dark-grey: #666;
  
    /* 主题色 */
    --waline-theme-color: #47adf1;
    --waline-active-color: #3498db;
  
    /* 布局颜色 */
    --waline-color: #444;
    --waline-bg-color: #fff;
    --waline-bg-color-light: #f8f8f8;
    --waline-bg-color-hover: #f0f0f0;
    --waline-border-color: #ddd;
    --waline-disable-bg-color: #f8f8f8;
    --waline-disable-color: #bbb;
    --waline-code-bg-color: #282c34;
  
    /* 特殊颜色 */
    --waline-bq-color: #f0f0f0;
  
    /* 头像 */
    --waline-avatar-size: 3.25rem;
    --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
  
    /* 徽章 */
    --waline-badge-color: #3498db;
    --waline-badge-font-size: 0.775em;
  
    /* 信息 */
    --waline-info-bg-color: #f8f8f8;
    --waline-info-color: #999;
    --waline-info-font-size: 0.625em;
  
    /* 渲染选择 */
    --waline-border: 1px solid var(--waline-border-color);
    --waline-avatar-radius: 50%;
    --waline-box-shadow: none;
}
  
  /* 根据用户设置 ↓ */
.book.color-theme-2 {
    /* 常规颜色 */
    --waline-white: #1c1f2b;
    --waline-light-grey: #666;
    --waline-dark-grey: #999;
  
    /* 布局颜色 */
    --waline-color: #bdcadb;
    --waline-bg-color: #1c1f2b;
    --waline-bg-color-light: #1c1f2b;
    --waline-border-color: #333;
    --waline-disable-bg-color: #444;
    --waline-disable-color: #1c1f2b;
  
    /* 特殊颜色 */
    --waline-bq-color: #1c1f2b;
  
    /* 其他颜色 */
    --waline-info-bg-color: #1c1f2b;
    --waline-info-color: #666;
}
  
@media (max-width: 600px) {
    :root {
        --waline-font-size: 16px; /* Smaller font size for mobile devices */
    }
}

.wl-footer .wl-actions a {
    pointer-events: none; /* Disables clicking */
    cursor: default; /* Changes cursor to indicate it's not clickable */
}
